**/*.bak*
*~
\#*\#
#.elc
auto-save-list
.\#*
eln-cache
elpa
elpaca
eshell
games
history
idlwave
recentf
tramp
tree-sitter
.tutor
url
projects
multisession/
transient/
image-dired/
tutorial/
var/
etc/
/themes/solarized-iceberg-dark-theme.el
